<div data-ng-controller="IsReadOnlyCtrl">
    <mi-action-description info="action"></mi-action-description>
    <!-- Main Content Area -->
    <div class="mi-ae-main-content">
        <div class="mi-ae-row">
            <div class="mi-ae-col-7">
                <label class="mi-ae-label mi-ae-margin-b-0">Select an editable grid</label>
            </div>
            <div class="mi-ae-col-7">
                <label class="mi-ae-label mi-ae-margin-b-0">Set property to</label>
            </div>
        </div>
        <div class="mi-ae-row table-row"  data-ng-class="{'alt-row': $odd}" data-ng-repeat="item in action.ControlsToUpdate">
            <div class="mi-ae-col-7" mi-validation-class="item.ValidationMessages" error-property="'ControlId'">
                <ui-select data-ng-model="item.ControlId" theme="selectize" on-select="onSelect()" ng-disabled="action.isReadOnly">
                    <ui-select-match placeholder="Select...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices group-by="'typeLabel'" repeat="opt.value as opt in controlList | orderBy: 'typeLabel+label'  | filter: controlFilter(item) | filter: $select.search">
                        <span ng-bind-html="opt.label"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="mi-ae-col-8">
                <ul class="mi-radiobutton-group">
                    <li class="rad-horizontal mi-ae-padding-r-20">
                        <label class="mi-radio-checkbox mi-radio">
                            <span>Read Only</span>
                            <input type="radio" data-ng-model="item.ToggleOptions" data-ng-value="0" ng-disabled="action.isReadOnly">
                            <div class="mi-radio-checkbox-indicator"></div>
                        </label>
                    </li>
                    <li class="rad-horizontal mi-ae-padding-r-20">
                        <label class="mi-radio-checkbox mi-radio">
                            <span>Editable</span>
                            <input type="radio" data-ng-model="item.ToggleOptions" data-ng-value="1" ng-disabled="action.isReadOnly">
                            <div class="mi-radio-checkbox-indicator"></div>
                        </label>
                    </li>
                    <li class="rad-horizontal">
                        <label class="mi-radio-checkbox mi-radio">
                            <span>Toggle</span>
                            <input type="radio" data-ng-model="item.ToggleOptions" data-ng-value="2" ng-disabled="action.isReadOnly">
                            <div class="mi-radio-checkbox-indicator"></div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="mi-ae-col-1" data-ng-if="action.ControlsToUpdate.length>1 && !action.isReadOnly">
                <miae-button 
                    button-class="'ghost mi-button-clear mi-ae-margin-0'" 
                    clickevent="removeItem($index)" 
                    svg-icon-type="'delete'" 
                    svg-icon-size="14"></miae-button>
            </div>
        </div>
        <miae-button name="' Add another control'" 
                   data-ng-if="action.ControlsToUpdate.length < controlTotal && !action.isReadOnly"
                   button-class="'ghost mi-button-clear'"
                   clickevent="addItem()"
                   svg-icon-type="'circle-plus'" 
                   svg-icon-size="14"></miae-button>
    </div>
    <!--/ Main Content Area -->
     <mi-action-notes  is-read-only ="action.isReadOnly"></mi-action-notes>
</div>