// Colors
$black:             #000000
$white:             #FFFFFF
$grey:              #BACAD0
$grey-alt:          #EEF5F7
$grey-lighter:      #F7F7F7
$grey-light:        #E4EAF1
$grey-dark:         #545F67
$grey-darker:       #222222
$blue:              #0D71C8
$blue-light:        #EEF5F7
$blue-light-darker: #E6E9ED  
$blue-dark:         #364A5F
$blue-darker:       #022266
$blue-darkest:      #162A3D
$green:             #007B4A
$green-dark:        #007B4A
$red:               #DA211E
$red-light:         #EB8275
$yellow:            #FDCB2E
$purple:            #3B4AED
$orange:            #E05D2A
$pink:              #D81F47

// Data table
$dtHeader:          #EEF5FA
$dtZebra:           $blue-light
$dtEditing:         #E5F7FF
$dtHover:           $blue-light-darker

// Radius
$radius-small:      1px
$radius:            3px
$radius-large:      6px

// Borders
$border-light:      1px solid $grey-alt

// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// the dashboard tiles look really odd with the default 769px breakpoint
$tablet-dashboard:  700px !default
   
$tablet:            769px !default    
// 960px container + 40px
$desktop:           1000px !default
// 1152px container + 40
$widescreen:        1192px !default
// 1344px container + 40
$fullhd:            1384px !default

// Property modal
$columnWidth:       250px

// Color list
$colors: ("black": $black, "white": $white, "blue": $blue, "blue-dark": $blue-dark, "green": $green, "green-dark": $green-dark, "red": $red, "yellow": $yellow, "purple": $purple, "orange": $orange, "pink": $pink) !default

// Alignment options
$alignments: ('centered': 'center', 'left': 'left', 'right': 'right')

// Margin/Padding list
$paddingMargin: (0,5,10,15,20,25,30,35,40) !default