.dsVersionLink {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;

  li {
    display: block;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 0;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &.selected {
      text-decoration: none;
      color: $black;
      cursor: default;
    }
  }
}

.dsReferenceLink {
  padding: 0;
  margin: 0;

  li {
    color: $blue;
    cursor: pointer;
    padding: 5px 0;

    &:hover {
      color: $black;
    }

    &.selected {
      color: $black;
      cursor: default;
    }
  }
}
