.prop-modal-sorting

    // columns
    .mi-ae-row
        margin-bottom: 5px

        .mi-ae-col-1,
        .mi-ae-col-2,
        .mi-ae-col-5,
        .mi-ae-col-7
            display: flex
            min-height: 34px
            align-items: center
            justify-content: flex-start

            label
                margin-bottom: 0

            .ui-select-container
                width: 100%

    // Radio Buttons
    .mi-radiobutton-group
        +radiobuttonGroup
