.mi-ae-label {
  display: block;
  height: 34px;
  line-height: 34px;
  margin: 0 0 1rem 0;
  cursor: default !important;

  &.not-bold {
    font-weight: normal;
  }

  &.font-size-16 {
    font-size: 16px;
  }
}

.mi-ae-note {
  font-size: 12px;
  font-weight: normal;
}