<!-- Content Header Block -->
<div class="mi-ae-header-block" data-ng-if="!layout.readonly">
    <h2>Add a new action</h2>
    <button class="mi-button-icon" 
      tooltip-placement="left" 
      uib-tooltip="Show/Hide descriptions" 
      data-ng-click="layout.showDescription = !layout.showDescription" 
      data-ng-class="{'activated': layout.showDescription}">
      <svg-icon
        name="'bubble-chat-typing-3'"
        size="16">
      </svg-icon>
    </button>
</div>
<!--/ Content Header Block -->

<!-- Main Content Area -->
<div class="mi-ae-main-content mi-ae-main-content-full" data-ng-if="!layout.readonly">
    <div class="search-box">
        <i class="mi-icon">
            <svg-icon
              name="'search'"
              ng-attr-style="svgIconStyle"
              size="14">
            </svg-icon>
        </i>
        <input type="search" placeholder="I want to ..." id="actionSearch" data-ng-model="layout.query.actions">
    </div>

    <ul class="new-action-list" data-ng-class="{'show-descriptions': layout.showDescription}">
        <li class="action-group" data-ng-repeat="category in editor.filteredAction | filter: filterCategories | orderBy:'sortOrder'">
            <span>{{ category.name }}</span>
            <ul>
                <li data-ng-repeat="action in category.actions | filter: { name: layout.query.actions } | orderBy:'name'" 
                  data-ng-click="addAction(action)">
                    <span>{{ action.name }}</span>
                    <p>{{ action.description.short }}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="mi-ae-framework-right-panel"  data-ng-if="layout.readonly" style="text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 72px;
        width:100%;
        ">
        This screen is published you will need to create a copy or version if you want to make changes. 
You can still click on the actions on the left to see how they are configured
       
    </div>
<!--/ Main Content Area -->