.mi-button-groups
    display: block

    .button-group-item
        display: inline-block
        padding: 7px 14px
        font-size: 14px
        font-weight: 600
        box-sizing: border-box
        border-top: 1px solid $grey-alt
        border-right: 1px solid $grey-alt
        border-bottom: 1px solid $grey-alt
        border-left: 0
        color: $blue-dark
        user-select: none
        -moz-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        background-color: transparent

        &:first-child
            border-left: 1px solid $grey-alt
            border-top-left-radius: 3px
            border-bottom-left-radius: 3px

        &:last-child
            border-top-right-radius: 3px
            border-bottom-right-radius: 3px

        &.is-active,
        &:hover
            border-color: $blue
            background-color: $blue
            color: $white
