.dd-color-box
    position: relative
    top: 3px
    display: inline-block
    width: 14px
    height: 14px
    margin-right: 3px
    border-radius: 2px

    &.dd-color-alert
        background-color: $pink
    &.dd-color-primary
        background-color: $blue
    &.dd-color-navigation
        background-color: $blue-darker
    &.dd-color-caution
        background-color: $orange
    &.dd-color-success
        background-color: $green-dark
    &.dd-color-grey
        background-color: $grey
    &.dd-color-gunmetal
        background-color: $grey-dark
    &.dd-color-silver
        background-color: $blue-light
    &.dd-color-black
        background-color: $black
    &.dd-color-white
        background-color: $white
        border: 1px dotted $grey
    &.dd-color-secondary
        background-color: $white
        border: 1px solid $blue
