.mi-recurrence-manager-panel

	.mi-rm-container
		padding-left: 15px
		padding-right: 15px


		.mi-rm-caption
			padding-top: 5px
			margin: 0

		.mi-rm-pattern-select
			padding-top: 5px

		.mi-rm-validation-error
			font-size: 12px
			color: red

		.mi-rm-interval-container

			.mi-rm-interval
				padding-top: 5px
				display: flex
				justify-content: flex-start

			.mi-rm-interval-input
				width: 40%
				margin-bottom: 5px 

			.mi-rm-interval-text
				padding-left: 10px
				padding-top: 10px
				font-size: 15px
		

		.mi-rm-weekly-pattern

			.mi-rm-weekly-day-btns
				display: flex
				justify-content: space-between
				padding-top: 5px
				
				button
					text-align: center
					padding-left: 2px
					padding-right: 2px
					width: 100%
					margin-left: 0
					margin-bottom: 0

				button:last-child 
					margin-right: 0

		.mi-rm-monthly-pattern
			display: flex
			justify-content: space-between

			.mi-rm-monthly-pattern-select
				width: 47%

		.mi-rm-yearly-pattern
			display: flex
			justify-content: space-between

			.mi-rm-yearly-pattern-select
				width: 47%

		.mi-rm-datetime-config
			padding-top: 10px

			.mi-rm-timepicker-range
				display: flex
				justify-content: space-between
				padding-top: 5px

				.mi-rm-timepicker
					width: 47%

			.mi-rm-timepicker-validation
				display: flex
				justify-content: space-between

				div
					width: 47%

					span
						width: 100%

			.mi-rm-datepicker-end
				padding-top: 5px
				
			.mi-datetimepicker

				div

					input
						margin-bottom: 0

		.mi-rm-checkbox-container
			padding-top: 15px
			
			span
				padding-left: 10px

		.mi-rm-footer

			button
				margin-top: 10px
				margin-right: 0
				float: right
				width: 25%

	.mi-rm-unsupported-container
		padding-top: 10px

		.mi-rm-unsupported-text
			line-height: 1.3




