.select-all-records-alert
    display: block
    text-align: center
    padding: 8px 10px
    margin-bottom: 5px
    border: 1px solid $yellow
    background-color: rgba($yellow, 0.3)
    font-size: 13px
    color: $black
    border-radius: 3px

    .select-all-records-notice
        text-decoration: underline
        cursor: pointer
        margin-left: 4px