<div data-ng-controller="CreateShortUrlCtrl">
  <mi-action-description info="action"></mi-action-description>

  <!-- Main Content Area -->
  <div class="mi-ae-main-content">
    <!-- Invite Type -->
    <div class="mi-ae-row">
      <div class="mi-ae-col-5">
        <label class="mi-ae-label mi-ae-margin-0">Who will access this link?</label>
      </div>
      <div class="mi-ae-col-10">
        <fieldset class="mi-radiobutton-group">
          <ul>
            <li class="rad-horizontal">
              <label class="mi-radio-checkbox mi-radio">
          <span>Guest user</span>
          <input type="radio" data-ng-model="action.InviteType" value="1" ng-disabled="action.isReadOnly"> 
          <div class="mi-radio-checkbox-indicator"></div>
        </label>
            </li>
            <li class="rad-horizontal">
              <label class="mi-radio-checkbox mi-radio">
          <span>Public user</span>
          <input type="radio" data-ng-model="action.InviteType" value="2" ng-disabled="action.isReadOnly">
          <div class="mi-radio-checkbox-indicator"></div>
        </label>
            </li>
            <li class="rad-horizontal">
              <label class="mi-radio-checkbox mi-radio">
          <span>{{ accountName }} user</span>
          <input type="radio" data-ng-model="action.InviteType" value="0" ng-disabled="action.isReadOnly">
          <div class="mi-radio-checkbox-indicator"></div>
        </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
    <!--/ Invite Type -->

    <!-- Guest RecordID -->
    <div class="mi-ae-row" data-ng-if="action.InviteType === 1">
      <div class="mi-ae-col-5">
        <label class="mi-ae-label">Specify the guest contact RecordID</label>
      </div>
      <div class="mi-ae-col-10" mi-validation-class="action.ValidationMessages" error-property="'ContactRecordId'">
        <mi-complex-value action="action" model="action.ContactRecordId" allow="allow" is-read-only ="action.isReadOnly"></mi-complex-value>
      </div>
    </div>
    <!--/ Guest RecordID -->

    <!-- App/Screen Selection -->
    <div class="mi-ae-row">
      <div class="mi-ae-col-5">
        <label class="mi-ae-label">Open this screen</label>
      </div>

      <div class="mi-ae-col-5" mi-validation-class="action.ValidationMessages" error-property="'ScreenId'">
        <ui-select data-ng-model="dropdowns.appSelection" theme="selectize" ng-disabled="action.isReadOnly">
          <ui-select-match placeholder="Select a destination...">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="opt.value as opt in dropdowns.appList | filter: $select.search">
            <span ng-bind-html="opt.label"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div 
        class="mi-ae-col-5" mi-validation-class="action.ValidationMessages" error-property="'AppScreen'">
        <ui-select data-ng-model="dropdowns.appScreenSelection" theme="selectize" ng-disabled="action.isReadOnly">
          <ui-select-match placeholder="Select a screen...">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="opt.value as opt in dropdowns.screenList | filter: $select.search">
            <span ng-bind-html="opt.label"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!--/ App/Screen Selection -->

    <!-- Active RecordID -->
    <div class="mi-ae-row">
      <div class="mi-ae-col-5">
        <label class="mi-ae-label">Set this Active RecordID</label>
      </div>
      <div class="mi-ae-col-10">
        <mi-complex-value action="action" model="action.ActiveRecordId" allow="allow" is-read-only ="action.isReadOnly"></mi-complex-value>
      </div>
    </div>
    <!-- Active RecordID -->

    <mi-result-to-set 
        label="'Store URL in'" 
        action="action" 
        item="action.ResultToSet"
        control="action.ControlToUpdate"
        include-controls="true"
        controls-ignore="['SEC', 'DOC']"
        control-model="action.ControlToUpdate" 
        col-widths="[5,10]" is-read-only ="action.isReadOnly"></mi-result-to-set>
  </div>
  <!--/ Main Content Area -->

   <mi-action-notes  is-read-only ="action.isReadOnly"></mi-action-notes>
</div>