<div data-ng-controller="MappingCtrl">
    <mi-action-description info="action"></mi-action-description>
  
    <!-- Main Content Area -->
    <div class="mi-ae-main-content">
      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
          <label class="mi-ae-label">Action</label>
        </div>
        <div class="mi-ae-col-8">
          <ui-select data-ng-model="action.MappingAction" theme="selectize"  ng-disabled="action.isReadOnly">
            <ui-select-match placeholder="Select...">{{$select.selected.label}}</ui-select-match>
            <ui-select-choices group-by="'category'"
              repeat="opt.value as opt in availableActions">
              <span ng-bind-html="opt.label"></span>
            </ui-select-choices>
          </ui-select>
        </div>  
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Table</label>
        </div>
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'ViewNameFriendly'">
            <ui-select data-ng-model="action.ViewNameFriendly" theme="selectize" on-select="loadTableFields($item, false)"  ng-disabled="action.isReadOnly">
                <ui-select-match placeholder="Select a table...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="table.value as table in tables | filter: $select.search">
                    <span ng-bind-html="table.label | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row" data-ng-if="action.MappingAction === 1">
        <div class="mi-ae-col-4">
          <label class="mi-ae-label">Map Widget</label>
        </div>
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'MapWidget'">
          <ui-select data-ng-model="action.MapWidget" theme="selectize" on-select="action.validate()"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select...">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices group-by="'typeLabel'" repeat="opt.value as opt in controlList | orderBy: 'typeLabel+label'  | filter: controlFilter(item) | filter: $select.search">
                  <span ng-bind-html="opt.label"></span>
              </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <h3>{{selectedTable}} Fields Mapping</h3>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
        <label class="mi-ae-label mi-ae-margin-b-0"><strong>Address Field</strong></label>
        </div>
        <div class="mi-ae-col-8">
        <label class="mi-ae-label mi-ae-margin-b-0"><strong>Map to Activity Table Field</strong></label>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Address Line 1</label>
        </div>
        
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'AddressLine1'">
            <ui-select data-ng-model="action.AddressLine1" theme="selectize" on-select="action.validate()"  ng-disabled="action.isReadOnly">    
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Address Line 2</label>
        </div>
        <div class="mi-ae-col-8">
            <ui-select data-ng-model="action.AddressLine2" theme="selectize"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Address Line 3</label>
        </div>
        <div class="mi-ae-col-8">
            <ui-select data-ng-model="action.AddressLine3" theme="selectize"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">City</label>
        </div>
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'City'">
            <ui-select data-ng-model="action.City" theme="selectize" on-select="action.validate()"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>
  
      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">State/Province</label>
        </div>
        <div class="mi-ae-col-8">
            <ui-select data-ng-model="action.State" theme="selectize"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Zip/Postal Code</label>
        </div>
        <div class="mi-ae-col-8">
            <ui-select data-ng-model="action.PostalCode" theme="selectize"  ng-disabled="action.isReadOnly">
              <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
            <label class="mi-ae-label">Country</label>
        </div>
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'Country'">
            <ui-select data-ng-model="action.Country" theme="selectize" on-select="action.validate()" ng-disabled="action.isReadOnly">
             <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                  <span ng-bind-html="opt.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>

      <h3>{{selectedTable}} Addresses to Map</h3>
        <div class="mi-ae-row">
          <div class="mi-ae-col-4">
            <label class="mi-ae-label">{{selectedTable}} {{(action.MappingAction === 0 ? " Record to Navigate" : " Records to Map")}} </label>
          </div>
          <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'RecordIds'">
            <mi-complex-value 
              action="action"
              model="action.RecordIds" 
              allow="allow" 
              error-code="action.RecordIds.ValidationMessage" is-read-only ="action.isReadOnly"></mi-complex-value>
          </div>
        </div>

        <div data-ng-if="action.MappingAction === 1">
            <h3>Options</h3>
            <div class="mi-ae-row" style="margin-top: 10px;">
              <div class="mi-ae-col-16">
                <label class="mi-radio-checkbox mi-checkbox">
                  <span>Optimize Route Order</span>
                  <input type="checkbox" data-ng-model="action.OptimizeRoute" data-ng-change=""  ng-disabled="action.isReadOnly">
                  <div class="mi-radio-checkbox-indicator"></div>
                </label>          
              </div>          
            </div>
    
            <div class="mi-ae-row" data-ng-if="action.OptimizeRoute">
              <div class="mi-ae-col-4">
                  <label class="mi-ae-label">Order Field to Update</label>
              </div>
              
              <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'UpdateRouteField'"  ng-disabled="action.isReadOnly">
                  <ui-select data-ng-model="action.UpdateRouteField" theme="selectize" >
                    <ui-select-match placeholder="Select a value">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="opt.value as opt in tableFields | orderBy: 'label'| filter: $select.search">
                        <span ng-bind-html="opt.label | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="mi-ae-row" style="margin-top: 10px;">
              <div class="mi-ae-col-16">
                <label class="mi-radio-checkbox mi-checkbox">
                  <span>Specify Start and End Addresses</span>
                  <input type="checkbox" data-ng-model="action.IsStartEndSpecified"  ng-disabled="action.isReadOnly">
                  <div class="mi-radio-checkbox-indicator"></div>
                </label>          
              </div>          
            </div>

            <div class="mi-ae-row" data-ng-if="action.IsStartEndSpecified">
              <div class="mi-ae-col-4">
                  <label class="mi-ae-label">Start</label>
              </div>
              <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'Start'">
                  <mi-complex-value 
                    action="action"
                    model="action.Start" 
                    allow="allow" 
                    error-code="action.Start.ValidationMessage" is-read-only ="action.isReadOnly"></mi-complex-value>
              </div>
            </div>

            <div class="mi-ae-row" data-ng-if="action.IsStartEndSpecified">
              <div class="mi-ae-col-4">
                  <label class="mi-ae-label">End</label>
              </div>              
              <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'Start'">
                  <mi-complex-value 
                    action="action"
                    model="action.End" 
                    allow="allow" 
                    error-code="action.End.ValidationMessage" is-read-only ="action.isReadOnly"></mi-complex-value>
              </div>
            </div>
        </div>
      </div>    
    </div>
    <!--/ Main Content Area -->
  
     <mi-action-notes  is-read-only ="action.isReadOnly"></mi-action-notes>
  </div>