.field
    display: block
    margin-bottom: 15px

    &.is-small
        width: 25%

    &.is-medium
        width: 50%

    &.is-large
        width: 75%

    label:not(.mi-radio-checkbox) 
        display: block
        font-size: 14px
        font-weight: 600
        margin-bottom: 10px