<div data-ng-controller="DeleteRecordCtrl">
  <mi-action-description info="action" show-back="criteriaBuilder" back-button="toggleCriteriaBuilder()"></mi-action-description>

  <!-- Main Content Area -->
  <div class="mi-ae-main-content" data-ng-show="!criteriaBuilder">
    <!-- Table -->
    <div class="mi-ae-row">
      <div class="mi-ae-col-4">
        <label class="mi-ae-label">Select a table name</label>
      </div>
      <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'ViewNameFriendly'" ng-disabled="action.isReadOnly">
        <ui-select data-ng-model="action.ViewNameFriendly" theme="selectize" ng-disabled="action.isReadOnly">
          <ui-select-match placeholder="Select...">{{$select.selected.value}}</ui-select-match>
          <ui-select-choices repeat="table.value as table in tables | filter: $select.search">
            <span ng-bind-html="table.value | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!--/ Table -->

    <!-- Loading -->
    <div class="mi-ae-row" data-ng-if="isLoading">
      <div class="mi-ae-col-8 mi-ae-col-push-4 mi-ae-padding-5">
        <label class="mi-ae-label">Please wait loading...</label>
      </div>
    </div>
    <!--/ Loading -->

    <!-- Where -->
    <div data-ng-show="canContinue">
      <div class="mi-ae-row">
        <div class="mi-ae-col-4">
          <label class="mi-ae-label">Delete records where</label>
        </div>
        <div class="mi-ae-col-8" mi-validation-class="action.ValidationMessages" error-property="'WhereClause'">
          <mi-criteria-string where-clause="action.WhereClause"></mi-criteria-string>
          <miae-button clickevent="toggleCriteriaBuilder()" name="criteriaButton" button-class="'ghost mi-button-clear mi-ae-margin-0 mi-ae-padding-l-0'"></miae-button>
        </div>
      </div>
    </div>
    <!--/ Where -->
  </div>
  <!--/ Main Content Area -->

  <div class="mi-ae-main-content" data-ng-show="criteriaBuilder">
    <miae-criteria-builder action="action" fields-only="true" where-clause="action.WhereClause" table-name="action.ViewNameFriendly" is-read-only="action.isReadOnly"></miae-criteria-builder>
  </div>

  <mi-action-notes is-read-only="action.isReadOnly"></mi-action-notes>
</div>
